.buttRegistro{
    background-color: transparent;
    border-width: 1 1 2 1;
    border-color: transparent transparent transparent transparent;
    android-elevation: 0;
}
.buttTerm{
    background-color: transparent;
    border-width: 1 1 2 1;
    border-color: transparent transparent transparent transparent;
    text-transform: initial;
    android-elevation: 0;
}
.ListButt{
    border-width: 1 1 1 1;
    border-color: transparent transparent transparent transparent;
    background-color: transparent;
    color:#121212;
    android-elevation: 0;
}
.ListSelect{
    border-width: 1 1 1 1;
    border-color: transparent transparent #909090 transparent;
    android-elevation: 0;
}
.inputText{
    border-width: 1 1 1 1;
    border-color: #fff #fff #d2d3d4 #fff;
 }
