.GridHome{
    width: 80%;
    height: 100%;
}
.ListMenu{
    width: 100%;
    padding: 8 15;
}
.buttHome{
    background-color: transparent;
    border-width: 1 1 1 1;
    border-color: transparent transparent #d1d2d3 transparent;
    android-elevation: 0;
}
.buttHomeWhite{
    background-color: transparent;
    border-width: 1 1 1 1;
    border-color: transparent transparent #ffffff transparent;
    android-elevation: 0;
}
.buttInfoUtil{
    border-width: 0 0 2px 0;
    border-color: white;
    background-color: transparent;
}
.buttInfoUtil:active{
    background-color: #00862c;
}
