<GridLayout columns="*" rows="auto, *">
    <GridLayout row="0" col="0" rows="auto" columns="*,auto,*"  padding="{{layout.ActionBar.padd}}">
        <StackLayout row="0" col="0" padding="{{layout.HistButt.padd}}" >
            <Button text="{{angleLeft}}" class="icon HistButt" width="{{layout.HistButt.w}}" height="100%" fontSize="{{layout.HistButt.icon1}}" [nsRouterLink]="['/home']"  verticalAlignment="middle" horizontalAlignment="left"></Button>
        </StackLayout>
        <StackLayout row="0" col="1">
            <Image src="~/images/logo.png" width="auto" height="{{layout.ActionBar.logo}}" horizontalAlignment="center"></Image>
        </StackLayout>
        <StackLayout row="0" col="2"></StackLayout>
    </GridLayout>
    <StackLayout row="1" col="0" class="page">
        <GridLayout columns="*" rows="*, auto, *" class="GridHome">
            <StackLayout row="0" col="0" color="white" paddingTop="{{layout.titPrinc.paddT}}" paddingBottom="{{layout.titPrinc.paddB}}">
                <Label text="{{welcome}}" fontWeight="Bold" fontSize="{{layout.general.h1}}" marginBottom="{{layout.general.sep}}" textAlignment="center"></Label>
                <Label text="{{user}}" fontSize="{{layout.general.h1}}" textAlignment="center"></Label>
            </StackLayout>
            <ScrollView row="1" col="0" orientation="vertical" width="100%" verticalAlignment="middle">
                <StackLayout backgroundColor="white">
                        <GridLayout row="1" col="0" columns="*" rows="auto, auto, auto, auto, auto" class="ListMenu" height="auto">
                                <GridLayout row="0" col="0" columns="*, *" rows="*" height="{{layout.buttHome.height}}">
                                    <Label text="{{icoTaller}}" row="0" col="0" class="icon" color="black" verticalAlignment="center" paddingLeft="{{layout.buttHome.paddLIco}}" fontSize="{{layout.buttHome.icon1}}"></Label>
                                    <Label text="{{angleRight}}" row="0" col="1" class="icon" color="#006729" verticalAlignment="center" textAlignment="right" paddingRight="{{layout.buttHome.paddRIco}}}" fontSize="{{layout.buttHome.icon2}}"></Label>
                                </GridLayout>
                                <Button row="0" col="0" textAlignment="left" (tap)="onButtonTap()" class="buttHome" paddingLeft="{{layout.buttHome.paddL}}" height="{{layout.buttHome.height}}" [nsRouterLink]="['/talleres']" verticalAlignment="middle" textWrap="true">
                                    <Span text="Talleres Autorizados HDI&#x000a;" color="#007125" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
                                    <Span text="Capital Federal y G.B.A." color="#006729" fontSize="{{layout.general.h2}}"></Span>
                                </Button>
                                <GridLayout row="1" col="0" columns="*, *" rows="*" height="{{layout.buttHome.height}}">
                                    <Label text="{{support2}}" row="0" col="0" class="icon" color="black" verticalAlignment="center" paddingLeft="{{layout.buttHome.paddLIco}}" fontSize="{{layout.buttHome.icon1}}"></Label>
                                    <Label text="{{angleRight}}" row="0" col="1" class="icon" color="#006729" verticalAlignment="middle" textAlignment="right" paddingRight="{{layout.buttHome.paddRIco}}}" fontSize="{{layout.buttHome.icon2}}"></Label>
                                </GridLayout>
                                <Button row="1" col="0" textAlignment="left" (tap)="onButtonTap()" class="buttHome" paddingLeft="{{layout.buttHome.paddL}}" height="{{layout.buttHome.height}}" [nsRouterLink]="['/infoUtil']" verticalAlignment="middle" textWrap="true">
                                    <Span text="Teléfonos Útiles&#x000a;" color="#007125" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
                                    <Span text="¿Cómo contactarse con HDI?" color="#006729" fontSize="{{layout.general.h2}}"></Span>
                                </Button>
                                <GridLayout row="2" col="0" columns="*, *" rows="*" height="{{layout.buttHome.height}}">
                                    <Label text="{{icoContract}}" row="0" col="0" class="icon" color="black" verticalAlignment="center" paddingLeft="{{layout.buttHome.paddLIco}}" fontSize="{{layout.buttHome.icon1}}"></Label>
                                    <Label text="{{angleRight}}" row="0" col="1" class="icon" color="#006729" verticalAlignment="middle" textAlignment="right" paddingRight="{{layout.buttHome.paddRIco}}}" fontSize="{{layout.buttHome.icon2}}"></Label>
                                </GridLayout>
                                <Button row="2" col="0" textAlignment="left" (tap)="onButtonTap()" class="buttHomeWhite" paddingLeft="{{layout.buttHome.paddL}}" height="{{layout.buttHome.height}}" [nsRouterLink]="['/terminos']" verticalAlignment="middle" textWrap="true">
                                        <Span text="Términos y Condiciones&#x000a;" color="#007125" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
                                        <Span text="Legales" color="#006729" fontSize="{{layout.general.h2}}"></Span>
                                </Button>
                            </GridLayout>
                </StackLayout>
            </ScrollView>
            <StackLayout row="2" col="0" height="100%" color="white" verticalAlignment="bottom" marginBottom="{{layout.footer.paddB}}">
                <Label text="{{icoSSN}}" class="icon" textAlignment="center" fontSize="{{layout.footer.ssn}}"></Label>
            </StackLayout>
        </GridLayout>
    </StackLayout>
</GridLayout>
