<GridLayout columns="*" rows="auto, *">
    <GridLayout row="0" col="0" rows="auto" columns="*,auto,*"  padding="{{layout.ActionBar.padd}}">
        <StackLayout row="0" col="0" padding="{{layout.HistButt.padd}}" >
            <Button text="{{angleLeft}}" class="icon HistButt" width="{{layout.HistButt.w}}" height="100%" fontSize="{{layout.HistButt.icon1}}" [nsRouterLink]="['/homeInfo']"  verticalAlignment="middle" horizontalAlignment="left"></Button>
        </StackLayout>
        <StackLayout row="0" col="1">
            <Image src="~/images/logo.png" width="auto" height="{{layout.ActionBar.logo}}" horizontalAlignment="center"></Image>
        </StackLayout>
        <StackLayout row="0" col="2"></StackLayout>
    </GridLayout>
	<GridLayout row="1" col="0" columns="*" rows="auto, *" class="page GridTalleres">
		<StackLayout row="0" col="0" color="white" paddingTop="{{layout.titPrinc.paddT}}" paddingBottom="{{layout.titPrinc.paddB}}">
				<Label text="{{icoTaller}}" class="icon" fontSize="{{layout.titPrinc.icon1}}" marginBottom="{{layout.general.sep}}" textAlignment="center"></Label>
				<Label text="Talleres Autorizados HDI" fontWeight="Bold" fontSize="{{layout.general.h1}}" textAlignment="center"></Label>
		</StackLayout>
		<ScrollView row="1" col="0" orientation="vertical" width="100%" backgroundColor="white">
			<GridLayout columns="*" rows="auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto" padding="{{layout.List.padd}}">
				<Label row="0" col="0" class="Uline1" textAlignment="center" paddingBottom="{{layout.List.paddB}}">
					<FormattedString>
						<Span text="CAPITAL FEDERAL" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
					</FormattedString>
				</Label>
				<GridLayout row="1" col="0" columns="*, auto, auto" rows="*" class="Uline1" padding="{{layout.List.padd2}}">
					<TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
						<FormattedString>
							<Span text="Taller Medrano Automotores&#x000a;" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
							<Span text="Taller - Av. Medrano 467, Almagro&#x000a;" color="#8a8a8a" fontSize="{{layout.general.h2}}"></Span>
							<Span text="4867-3736" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
						</FormattedString>
					</TextView>
					<StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoPhone}}" row="0" col="1" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="call('1148673736')"></Button>
					</StackLayout>
					<StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoShare}}" row="0" col="2" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="shareText('Taller Medrano Automotores&#x000a;Av. Medrano 467, Almagro&#x000a;Teléfono: 4867-3736')"></Button>
					</StackLayout>
				</GridLayout>
				<GridLayout row="2" col="0" columns="*, auto, auto" rows="*" class="Uline1" padding="{{layout.List.padd2}}">
					<TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
						<FormattedString>
							<Span text="Taller NP&#x000a;" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
							<Span text="Taller - Cañada de Gómez 2352, Mataderos&#x000a;" color="#8a8a8a" fontSize="{{layout.general.h2}}"></Span>
							<Span text="4687-9150" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
						</FormattedString>
					</TextView>
					<StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoPhone}}" row="0" col="1" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="call('1146879150')"></Button>
					</StackLayout>
					<StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoShare}}" row="0" col="2" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="shareText('Taller NP&#x000a;Cañada de Gómez 2352, Mataderos&#x000a;Teléfono: 4687-9150')"></Button>
					</StackLayout>
				</GridLayout>
				<GridLayout row="3" col="0" columns="*, auto, auto" rows="*" class="Uline1" padding="{{layout.List.padd2}}">
					<TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
						<FormattedString>
							<Span text="Taller Naranjo&#x000a;" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
							<Span text="Taller - Beauchef 1771, Parque Chacabuco&#x000a;" color="#8a8a8a" fontSize="{{layout.general.h2}}"></Span>
							<Span text="4923-3386" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
						</FormattedString>
					</TextView>
					<StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoPhone}}" row="0" col="1" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="call('1149233386')"></Button>
					</StackLayout>
					<StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoShare}}" row="0" col="2" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="shareText('Taller Naranjo&#x000a;Beauchef 1771, Parque Chacabuco&#x000a;Teléfono: 4923-3386')"></Button>
					</StackLayout>
				</GridLayout>
				<GridLayout row="4" col="0" columns="*, auto, auto" rows="*" class="Uline1" padding="{{layout.List.padd2}}">
					<TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
						<FormattedString>
							<Span text="Taller Precone&#x000a;" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
							<Span text="Taller - Av. José María Moreno 1462, Parque Chacabuco&#x000a;" color="#8a8a8a" fontSize="{{layout.general.h2}}"></Span>
							<Span text="4923-4711" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
						</FormattedString>
					</TextView>
					<StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoPhone}}" row="0" col="1" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="call('1149234711')"></Button>
					</StackLayout>
					<StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoShare}}" row="0" col="2" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="shareText('Taller Precone&#x000a;Av. José María Moreno 1462, Parque Chacabuco&#x000a;Teléfono: 4923-4711')"></Button>
					</StackLayout>
				</GridLayout>
				<GridLayout row="5" col="0" columns="*, auto, auto" rows="*" class="Uline1" padding="{{layout.List.padd2}}">
					<TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
						<FormattedString>
							<Span text="Taller Lugones&#x000a;" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
							<Span text="Taller - Lugones 3556, Saavedra&#x000a;" color="#8a8a8a" fontSize="{{layout.general.h2}}"></Span>
							<Span text="4542-2517" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
						</FormattedString>
					</TextView>
					<StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoPhone}}" row="0" col="1" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="call('1145422517')"></Button>
					</StackLayout>
					<StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoShare}}" row="0" col="2" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="shareText('Taller Lugones&#x000a;Lugones 3556, Saavedra&#x000a;Teléfono: 4542-2517')"></Button>
					</StackLayout>
				</GridLayout>
				<GridLayout row="6" col="0" columns="*, auto, auto" rows="*" class="Uline1" padding="{{layout.List.padd2}}">
					<TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
						<FormattedString>
							<Span text="Taller An-Car&#x000a;" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
							<Span text="Taller - Calderón de la Barca 1152, Villa Luro&#x000a;" color="#8a8a8a" fontSize="{{layout.general.h2}}"></Span>
							<Span text="4567-4771" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
						</FormattedString>
					</TextView>
					<StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoPhone}}" row="0" col="1" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="call('1145674771')"></Button>
					</StackLayout>
					<StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoShare}}" row="0" col="2" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="shareText('Taller An-Car&#x000a;Calderón de la Barca 1152, Villa Luro&#x000a;Teléfono: 4567-4771')"></Button>
					</StackLayout>
				</GridLayout>
				<GridLayout row="7" col="0" columns="*, auto, auto" rows="*" class="Uline1" padding="{{layout.List.padd2}}">
					<TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
						<FormattedString>
							<Span text="Taller Eduardo Gonzalez&#x000a;" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
							<Span text="Taller - Cortina 1950/62, Villa Real&#x000a;" color="#8a8a8a" fontSize="{{layout.general.h2}}"></Span>
							<Span text="4641-2266" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
						</FormattedString>
					</TextView>
					<StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoPhone}}" row="0" col="1" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="call('1146412266')"></Button>
					</StackLayout>
					<StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoShare}}" row="0" col="2" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="shareText('Taller Eduardo Gonzalez&#x000a;Cortina 1950/62, Villa Real&#x000a;Teléfono: 4641-2266')"></Button>
					</StackLayout>
				</GridLayout>
				<Label row="8" col="0" class="Uline1" textAlignment="center" verticalAlignment="center" paddingBottom="{{layout.List.paddB}}">
					<FormattedString>
						<Span text="GRAN BUENOS AIRES" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
					</FormattedString>
				</Label>
				<GridLayout row="9" col="0" columns="*, auto, auto" rows="*" class="Uline1" padding="{{layout.List.padd2}}">
					<TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
						<FormattedString>
							<Span text="Taller Lugones&#x000a;" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
							<Span text="Taller - Monteagudo 1224/60, Banfield&#x000a;" color="#8a8a8a" fontSize="{{layout.general.h2}}"></Span>
							<Span text="4202-2200" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
						</FormattedString>
					</TextView>
					<StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoPhone}}" row="0" col="1" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="call('1142022200')"></Button>
					</StackLayout>
					<StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoShare}}" row="0" col="2" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="shareText('Taller Lugones&#x000a;Monteagudo 1224/60, Banfield&#x000a;Teléfono: 4202-2200')"></Button>
					</StackLayout>
				</GridLayout>
				<GridLayout row="10" col="0" columns="*, auto, auto" rows="*" class="Uline1" padding="{{layout.List.padd2}}">
					<TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
						<FormattedString>
							<Span text="Taller de la Independencia&#x000a;" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
							<Span text="Taller - Santiago del Estero 1555, Martínez&#x000a;" color="#8a8a8a" fontSize="{{layout.general.h2}}"></Span>
							<Span text="4798-3396" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
						</FormattedString>
					</TextView>
					<StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoPhone}}" row="0" col="1" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="call('1147983396')"></Button>
					</StackLayout>
					<StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoShare}}" row="0" col="2" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="shareText('Taller de la Independencia&#x000a;Santiago del Estero 1555, Martínez&#x000a;Teléfono: 4798-3396')"></Button>
					</StackLayout>
				</GridLayout>
				<GridLayout row="11" col="0" columns="*, auto, auto" rows="*" class="Uline1" padding="{{layout.List.padd2}}">
					<TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
						<FormattedString>
							<Span text="Taller Perata&#x000a;" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
							<Span text="Taller - Larrea 1040, Quilmes&#x000a;" color="#8a8a8a" fontSize="{{layout.general.h2}}"></Span>
							<Span text="5291-3761" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
						</FormattedString>
					</TextView>
					<StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoPhone}}" row="0" col="1" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="call('1152913761')"></Button>
					</StackLayout>
					<StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoShare}}" row="0" col="2" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="shareText('Taller Perata&#x000a;Larrea 1040, Quilmes&#x000a;Teléfono: 5291-3761')"></Button>
					</StackLayout>
				</GridLayout>
				<Label row="12" col="0" class="Uline1" textAlignment="center" verticalAlignment="center" paddingBottom="{{layout.List.paddB}}">
					<FormattedString>
						<Span text="RESTO DEL PAÍS" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
					</FormattedString>
				</Label>
				<GridLayout row="13" col="0" columns="*, 40" rows="*" class="Uline1">
					<TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
						<FormattedString>
							<Span text="Para más información, comunicarse con su Productor Asesor de Seguros o envienos un email a:&#x000a;" color="#8a8a8a" fontSize="{{layout.general.h3}}"></Span>
							<Span text="hdi@hdi.com.ar" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
						</FormattedString>
					</TextView>
					<StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729" verticalAlignment="middle">
						<Button text="{{icoEmail}}" row="0" col="1" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}"
						(tap)="sendEmail('hdi@hdi.com.ar')"></Button>
					</StackLayout>
				</GridLayout>
				<StackLayout row="14" col="0" color="black" marginTop="{{layout.footer.paddT}}" marginBottom="{{layout.footer.paddB}}">
                    <Label text="{{icoSSN}}" class="icon" textAlignment="center" fontSize="{{layout.footer.ssn}}"></Label>
                </StackLayout>
			</GridLayout>
		</ScrollView>
	</GridLayout>
</GridLayout>
