<GridLayout columns="*" rows="auto, *">
    <GridLayout row="0" col="0" rows="auto" columns="*,auto,*"  padding="{{layout.ActionBar.padd}}">
        <StackLayout row="0" col="0" padding="{{layout.HistButt.padd}}" >
            <Button text="{{angleLeft}}" class="icon HistButt" width="{{layout.HistButt.w}}" height="100%" fontSize="{{layout.HistButt.icon1}}" (tap)="onButtonBack()" verticalAlignment="middle" horizontalAlignment="left"></Button>
        </StackLayout>
        <StackLayout row="0" col="1">
            <Image src="~/images/logo.png" width="auto" height="{{layout.ActionBar.logo}}" horizontalAlignment="center"></Image>
        </StackLayout>
        <StackLayout row="0" col="2"></StackLayout>
    </GridLayout>
    <GridLayout row="1" col="0" columns="*" rows="auto, *" class="page GridPolizas">
        <StackLayout row="0" col="0" color="white" paddingTop="{{layout.titPrinc.paddT}}" paddingBottom="{{layout.titPrinc.paddB}}" textAlignment="center">
            <Label text="{{icoPoliza}}" class="icon" fontSize="{{layout.titPrinc.icon1}}" textAlignment="center" marginBottom="{{layout.general.sep}}"></Label>
            <Label text="Mis Pólizas - Automóviles" fontWeight="Bold" fontSize="{{layout.general.h1}}" textAlignment="center"></Label>
        </StackLayout>
        <ScrollView row="1" col="0" orientation="vertical" width="100%" backgroundColor="white">
            <GridLayout columns="*" rows="auto, auto, auto">
                <StackLayout row="0" col="0">
                    <GridLayout rows="{{_appGlobal.rowsCant(personas?.length)}}" columns="*" *ngFor="let persona of personas; let i = index">
                        <GridLayout row="{{i}}" col="0" rows="auto,auto,auto" columns="*" class="Uline1" paddingBottom="{{layout.List.paddB2}}">
                            <Label row="0" col="0" class="Uline1" textAlignment="center" paddingTop="{{layout.List.paddB}}" paddingBottom="{{layout.List.paddB}}">
                                <FormattedString>
                                    <Span text="{{persona.nombre}}" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}" class="TextUpperCase"></Span>
                                </FormattedString>
                            </Label>
                            <StackLayout row="1" col="0" paddingBottom="{{layout.List.padd2}}" paddingLeft="{{layout.List.padd}}" paddingRight="{{layout.List.padd}}">
                                <StackLayout *ngFor="let poliza of persona.polizas" paddingTop="{{layout.List.padd2}}" paddingBottom="{{layout.List.padd2}}">
                                   <GridLayout *ngFor="let certificado of poliza.Certificados" columns="*, auto, auto, auto" rows="*" class="Uline1" paddingTop="{{layout.List.padd2}}" paddingBottom="{{layout.List.padd2}}">
                                        <TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
                                            <FormattedString>
                                                <Span text="Póliza {{certificado.DatosMercosur.PolizaNro}}&#x000a;" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
                                                <Span text="{{certificado.DatosMercosur.Matricula}}&#x000a;" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
                                                <Span text="{{certificado.TarjetaCirculacion.Desde}} {{certificado.TarjetaCirculacion.Hasta}}" color="#555555" fontWeight="Bold" fontSize="{{layout.general.h2}}"></Span>
                                            </FormattedString>
                                        </TextView>
                                        <StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729">
                                            <Button text="{{icoEye}}" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}" [nsRouterLink]="['/poliza', persona._id, persona.polizas.indexOf(poliza), poliza.Certificados.indexOf(certificado)]"></Button>
                                        </StackLayout>
                                        <!--
                                        <StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729">
                                            <Button text="{{icoPhone}}" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}" [nsRouterLink]="['/productor', persona._id,persona.polizas.indexOf(poliza)]"></Button>
                                        </StackLayout>
                                        -->
                                        <StackLayout row="0" col="2" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729">
                                            <Button text="{{codigoQR}}" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}" [nsRouterLink]="['/visorqr', persona._id,persona.polizas.indexOf(poliza), poliza.Certificados.indexOf(certificado)]"></Button>
                                        </StackLayout>
                                        <StackLayout row="0" col="3" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729">
                                            <Button text="{{icoBin}}" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}" (tap)="ConfirmDeletePoliza(persona._id, persona.polizas.indexOf(poliza),poliza)"></Button>
                                        </StackLayout>
                                    </GridLayout>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout row="2" col="0" width="40%" backgroundColor="#006729" height="{{layout.buttUpdate.h}}" borderRadius="2" marginTop="{{layout.buttUpdate.mt}}">
                                <Button class="buttUpdate" borderRadius="2" (tap)="actualizar(persona._id)">
                                    <Span text="{{icoReload}}" class="icon" fontSize="{{layout.buttUpdate.icon1}}"></Span>
                                    <Span text=" Actualizar" fontSize="{{layout.buttUpdate.t1}}"></Span>
                                </Button>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </StackLayout>
                <GridLayout row="1" col="0" columns="*" rows="auto, auto, auto">
                    <Label row="0" col="0" class="Uline1" textAlignment="center" paddingTop="{{layout.List.paddB}}" paddingBottom="{{layout.List.paddB}}">
                        <FormattedString>
                            <Span text="CONDICIONES" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
                        </FormattedString>
                    </Label>
                    <GridLayout row="1" col="0" columns="*" rows="auto, auto, auto" paddingLeft="{{layout.List.padd}}" paddingRight="{{layout.List.padd}}">

                        <GridLayout row="0" col="0" columns="*, auto" rows="*" class="Uline1" paddingTop="{{layout.List.padd2}}" paddingBottom="{{layout.List.padd2}}">
                            <TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
                                <FormattedString>
                                    <Span text="Consulte las Condiciones Generales de la Póliza de Automóviles" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
                                </FormattedString>
                            </TextView>
                            <StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729">
                            <Button text="{{icoEye}}" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}" [nsRouterLink]="['/pdfview','condgralauto']"></Button>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout row="1" col="0" columns="*, auto" rows="*" class="Uline1" paddingTop="{{layout.List.padd2}}" paddingBottom="{{layout.List.padd2}}">
                            <TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
                                <FormattedString>
                                    <Span text="Consulte las Condiciones Generales de la Póliza de RC Automóviles" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
                                </FormattedString>
                            </TextView>
                            <StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729">
                                <Button text="{{icoEye}}" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}" [nsRouterLink]="['/pdfview','condrcautoweb']"></Button>
                            </StackLayout>
                        </GridLayout>
                        <GridLayout row="2" col="0" columns="*, auto" rows="*" class="Uline1" paddingTop="{{layout.List.padd2}}" paddingBottom="{{layout.List.padd2}}">
                            <TextView row="0" col="0" editable="false" textAlignment="left" verticalAlignment="center" class="TextViewWhite" padding="{{layout.List.padd2}}">
                                <FormattedString>
                                    <Span text="Consulte las Condiciones Generales de los Servicios de Asistencia" color="black" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
                                </FormattedString>
                            </TextView>
                            <StackLayout row="0" col="1" width="{{layout.ListButt.w}}" height="{{layout.ListButt.h}}" marginLeft="{{layout.ListButt.ml}}" borderRadius="2" backgroundColor="#006729">
                                <Button text="{{icoEye}}" class="icon ListButt" padding="{{layout.ListButt.padd}}" borderRadius="2" fontSize="{{layout.ListButt.icon1}}" [nsRouterLink]="['/pdfview','servasistauto']"></Button>
                            </StackLayout>
                        </GridLayout>
                    </GridLayout>
                </GridLayout>
                <StackLayout row="2" col="0" color="black" marginTop="{{layout.footer.paddT}}" marginBottom="{{layout.footer.paddB}}">
                    <Label text="{{icoSSN}}" class="icon" textAlignment="center" fontSize="{{layout.footer.ssn}}"></Label>
                </StackLayout>
            </GridLayout>
        </ScrollView>
    </GridLayout>
</GridLayout>
