.GridPolizas{
    width: 100%;
    height: 100%;
}
.ListButt{
    border-width: 1 1 2 1;
    border-color: #006729 #006729 #006729 #006729;
    background-color: transparent;
    color: white;
    android-elevation: 0;
}
.buttUpdate{
    background-color: transparent;
    border-width: 1 1 2 1;
    border-color: #006729 #006729 #006729 #006729;
    color: white;
    android-elevation: 0;
}
