<GridLayout columns="*" rows="auto, *">
    <GridLayout row="0" col="0" rows="auto" columns="*,auto,*"  padding="{{layout.ActionBar.padd}}">
        <StackLayout row="0" col="0" padding="{{layout.HistButt.padd}}" >
            <Button text="{{angleLeft}}" class="icon HistButt" width="{{layout.HistButt.w}}" height="100%" fontSize="{{layout.HistButt.icon1}}" [nsRouterLink]="['/home']"  verticalAlignment="middle" horizontalAlignment="left"></Button>
        </StackLayout>
        <StackLayout row="0" col="1">
            <Image src="~/images/logo.png" width="auto" height="{{layout.ActionBar.logo}}" horizontalAlignment="center"></Image>
        </StackLayout>
        <StackLayout row="0" col="2"></StackLayout>
    </GridLayout>
    <ScrollView row="1" col="0" orientation="vertical" height="100%" class="page">
        <GridLayout columns="*" rows="auto, *, auto" class="GridSiniestroAuto">
            <StackLayout row="0" col="0" color="white" paddingTop="{{layout.titPrinc.paddT}}" paddingBottom="{{layout.titPrinc.paddB}}">
                    <Label text="{{icoCar}}" class="icon" fontSize="{{layout.titPrinc.icon1}}" marginBottom="{{layout.general.sep}}" textAlignment="center"></Label>
                    <Label text="¿Accidente con su vehículo?" fontWeight="Bold" fontSize="{{layout.general.h1}}" textAlignment="center"></Label>
            </StackLayout>
            <GridLayout row="1" col="0" columns="*" rows="*" backgroundColor="white" paddingTop="{{layout.List.padd}}" paddingLeft="{{layout.List.padd}}" paddingRight="{{layout.List.padd}}" paddingBottom="{{layout.List.padd}}">
                <ScrollView orientation="vertical" height="100%" backgroundColor="white">
                        <StackLayout orientation="vertical" width="100%" class="Desc" paddingBottom="{{layout.List.padd}}">
                            <TextView editable="false" color="black" class="TextViewWhite" fontSize="{{layout.general.h3}}">
                                <FormattedString>
                                    <Span text="Ante la ocurrencia de un siniestro en su automóvil:&#x000a;" color="#006729" fontWeight="Bold" fontSize="{{layout.general.h1}}"></Span>
                                    <Span text="&#x000a;" fontSize="{{layout.general.sep}}"></Span>
                                    <Span text="{{angleRight}}" class="icon" fontSize="{{layout.general.iconUl}}"></Span>
                                    <Span text=" Informe a la COMPAÑÍA DE SEGUROS dentro de los tres días y lo más ampliamente posible sobre el siniestro, tenga o no daño el vehículo asegurado.&#x000a;"></Span>
                                    <Span text="&#x000a;" fontSize="{{layout.general.sep}}"></Span>
                                    <Span text="{{angleRight}}" class="icon" fontSize="{{layout.general.iconUl}}"></Span>
                                    <Span text=" Dé inmediata intervención a la autoridad policial más cercana al lugar del hecho en todos los casos.&#x000a;"></Span>
                                    <Span text="&#x000a;" fontSize="{{layout.general.sep}}"></Span>
                                    <Span text="{{angleRight}}" class="icon" fontSize="{{layout.general.iconUl}}"></Span>
                                    <Span text=" Remita a la COMPAÑÍA DE SEGUROS copia del sumario o acta de choque instruida en la seccional respectiva.&#x000a;"></Span>
                                    <Span text="&#x000a;" fontSize="{{layout.general.sep}}"></Span>
                                    <Span text="{{angleRight}}" class="icon" fontSize="{{layout.general.iconUl}}"></Span>
                                    <Span text=" No acepte reclamaciones, no haga transacciones ni reconozca indemnizaciones, sin autorización por escrito de la COMPAÑÍA DE SEGUROS.&#x000a;"></Span>
                                    <Span text="&#x000a;" fontSize="{{layout.general.sep}}"></Span>
                                    <Span text="{{angleRight}}" class="icon" fontSize="{{layout.general.iconUl}}"></Span>
                                    <Span text=" No abandone su vehículo: llévelo o hágalo trasladar a un taller.&#x000a;"></Span>
                                    <Span text="&#x000a;" fontSize="{{layout.general.sep}}"></Span>
                                    <Span text="{{angleRight}}" class="icon" fontSize="{{layout.general.iconUl}}"></Span>
                                    <Span text=" No ordene ni realice arreglos sin previa autorización de la Compañía."></Span>
                                </FormattedString>
                            </TextView>
                            <StackLayout width="80%" backgroundColor="#006729" height="{{layout.buttIcon.h}}" borderRadius="2" marginTop="{{layout.buttIcon.mt}}" verticalAlignment="middle">
                                <Button class="buttIcon" borderRadius="2" [nsRouterLink]="['/pdfview','siniestroauto']">
                                    <Span text="{{icoPDF}}" class="icon" fontSize="{{layout.buttIcon.icon1}}"></Span>
                                    <Span text=" Denuncia de Siniestro" fontSize="{{layout.buttIcon.t1}}"></Span>
                                </Button>
                            </StackLayout>
                            <StackLayout width="80%" backgroundColor="#006729" height="{{layout.buttIcon.h}}" borderRadius="2" marginTop="{{layout.buttIcon.mt}}" verticalAlignment="middle">
                                <Button class="buttIcon" borderRadius="2" [nsRouterLink]="['/infoUtil']">
                                    <Span text="{{icoPhone}}" class="icon" fontSize="{{layout.buttIcon.icon1}}"></Span>
                                    <Span text=" Servicio de Asistencia" fontSize="{{layout.buttIcon.t1}}"></Span>
                                </Button>
                            </StackLayout>
                        </StackLayout>
                </ScrollView>
            </GridLayout>
            <StackLayout row="2" col="0" colSpan="2" color="white" verticalAlignment="bottom" marginTop="{{layout.footer.paddT}}" marginBottom="{{layout.footer.paddB}}">
				<Label text="{{icoSSN}}" class="icon" textAlignment="center" fontSize="{{layout.footer.ssn}}"></Label>
			</StackLayout>
        </GridLayout>
    </ScrollView>
</GridLayout>
