.GridSiniestroAuto{
    width: 80%;
    height: 100%;
}
.buttIcon{
    background-color: transparent;
    border-width: 1 1 2 1;
    border-color: #006729 #006729 #006729 #006729;
    color: white;
    android-elevation: 0;
}
