.GridSiniestroAuto{
    width: 80%;
    height: 100%;
}
.buttIcon{
    background-color: transparent;
    border-width: 1 1 2 1;
    border-color: transparent transparent transparent transparent;
    color: white;
    android-elevation: 0;
}
